<a href="https://colab.research.google.com/github/A-R-TAQI/ml_lab/blob/main/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
dataset = pd.read_csv('/content/drive/MyDrive/ml_lab/dataset.csv')
print("Original dataset:")
print(dataset.to_string(index=False))

Original dataset:
 Col1 Col2  Col3 Col4
    1    A     1    D
    2    B     2    D
    3    C     3    D
    4    D     4    D
    4    D     4    D
    5    E     5    D
    6    F     6    D
    7    G     7    D
    7    G     7    D
    8    H     8    D
    9    I     9    D
   10    J    10    D
   10    J    10    D
   10    J    10    D
   11    K    11    D
   12    L    12    D
   13    M    13    D
   13    M    13    D
   14    N    14    D
   15    O    15    D
   16    P    16    D
   17    Q    17    D
   18    R    18    D
   19    S    19    D
   20    T    20    D
   20    T    20    D
   20    T    20    D
   21    U    21    D
   22    V    22    D
   23    W    23    D

In [3]:
dataset_duplicates_removed = dataset.drop_duplicates()
print("\nDataset with duplicate rows removed:")
print(dataset_duplicates_removed.to_string(index=False))

Dataset with duplicate rows removed:
 Col1 Col2  Col3 Col4
    1    A     1    D
    2    B     2    D
    3    C     3    D
    4    D     4    D
    5    E     5    D
    6    F     6    D
    7    G     7    D
    8    H     8    D
    9    I     9    D
   10    J    10    D
   11    K    11    D
   12    L    12    D
   13    M    13    D
   14    N    14    D
   15    O    15    D
   16    P    16    D
   17    Q    17    D
   18    R    18    D
   19    S    19    D
   20    T    20    D
   21    U    21    D
   22    V    22    D
   23    W    23    D

In [4]:
dataset_columns_removed = dataset_duplicates_removed.loc[:, dataset_duplicates_removed.nunique() > 1]
print("\nDataset with columns containing a single value removed:")
print(dataset_columns_removed.to_string(index=False))

Dataset with columns containing a single value removed:
 Col1 Col2  Col3
    1    A     1
    2    B     2
    3    C     3
    4    D     4
    5    E     5
    6    F     6
    7    G     7
    8    H     8
    9    I     9
   10    J    10
   11    K    11
   12    L    12
   13    M    13
   14    N    14
   15    O    15
   16    P    16
   17    Q    17
   18    R    18
   19    S    19
   20    T    20
   21    U    21
   22    V    22
   23    W    23